#heading
  %h1 project starling
  %h2 Or, where in the world does ThoughtWorks come from?

#body
  %form{ :method => 'post' action => 'nest' }
    %input#name{ :type => 'text', :name => 'name' }
    %input#birthplace { :type => 'text', :name => 'birthplace' }
