!!! 5
%html
  %head
    %title= "Project Starling"
    %link{ :type => "text/css", :href => "/stylesheet.css", :rel => "stylesheet" }
    %script{ :type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery-1.5.1.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/starling.js" }

  %body
    #heading
      #titles
        %h1 project starling
        %h2 Or, where in the world does ThoughtWorks come from?
      #adding
        #where
          %form#nesting{ :method => 'post', :action => 'nest' }
            %div{ :style => "float: left; " }
              %div
                %label{ :for => "name" }Name:
                %input#name{ :type => 'text', :name => 'name' }
                %label{ :for => "birthplace" }Born in town:
                %input#birthplace{ :type => 'text', :name => 'birthplace' }
              #country
                %label{ :for => "working"}Working in:
                %select{ :name => 'country' }
                  %option{ :value => '' }---Select a country---
                  %option{ :value => 'Australia' }Australia
                  %option{ :value => 'Brazil' }Brazil
                  %option{ :value => 'Canada' }Canada
                  %option{ :value => 'China' }China
                  %option{ :value => 'Germany' }Germany
                  %option{ :value => 'India' }India
                  %option{ :value => 'UK' }UK
                  %option{ :value => 'USA' }USA
            %div{ :style => "float: right; margin-top: 20px;" }
              %input{ :type=> 'button', :onclick => 'addBirthplace()', :value => 'Pin Me!' }
        #not-found
          %p
            Couldn't find
            %span#bad-loc
            %br
            %a{ :href => "#", :onclick => "javascript:reset();" }
              Try again?
        #bad-request
          %p
            Something went wrong. Did you fill in all the fields?
            %br
            %a{ :href => "#", :onclick => "javascript:reset();" }
              Try again?
    
    #body
      #world
